<!DOCTYPE html>

<head>
    <title>Finance Logging</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/image/favicon.png">
    <link href="../static/style/style.css" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>FINANCE LOGGING</h1>
    <h4>PATHOMPONG THITITHAN</h4>
    <form action="{{ url_for('addtable') }}" method="post">
        <div class="login-box shadow">
            <div class="logfield">
                <span class="date-inp">
                    <label>Date<span class="tx-hilite"> *</span></label><br>
                    <input type="date" name="date" required>
                </span>
                <span class="income-inp">
                    <label>Income</label>
                    <input type="number" name="income" min="0">
                </span>
                <span class="bank-inp">
                    <label>Bank remaining<span class="tx-hilite"> *</span></label>
                    <input type="number" name="bank" min="0" required>
                </span>
                <span class="wallet-inp">
                    <label>Wallet remaining<span class="tx-hilite"> *</span></label>
                    <input type="number" name="wallet" min="0" required>
                </span>
                <div class="lognote">
                    <label>Notes</label><br>
                    <input type="text" name="notes">
                </div>
            </div>
        </div>
        <input class="button shadow" type="submit" value="SUBMIT">
        <p style="text-align: center; margin-top: 30px;"><a href="{{ url_for('table') }}">View the table</a></p>
        <p style="text-align: center"><a href="{{ url_for('login') }}">Log off</a></p>
    </form>
</body>