<!DOCTYPE html>

<head>
    <title>Finance Logging - Login</title>
    <link rel="icon" href="../static/image/favicon.png">
    <link href="../static/style/style.css" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <h1 style="margin-bottom: 125px;">WELCOME</h1>
    <form>
        <div class="login-box shadow" style="width: 300px; padding-bottom: 4%;">
        <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" style="width: 100%;"><br><br>
            <label for="pwd">Password:</label><br>
            <input type="password" id="pwd" name="pwd" style="width: 100%;">
        </div>
        <input class="button shadow" style="margin-top: 90px;" type="submit" value="LOGIN">
        <p style="text-align: center; color: aliceblue;">or:</p>
        <p style="text-align: center"><a href="{{ url_for('login') }}">create account</a></p>
        </form>
</body>

</html>